

.card {
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.inicio img {
    animation: flutuar 3s infinite;
}

@keyframes flutuar {

    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }

}